body {
  font-family: Roboto;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.page {
  max-width: 600px;
  margin: 30px auto;
}
h1 {
  color: black;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  color: #878787;
}
li:first-letter {
  text-transform: capitalize;
}

.container {
  margin-bottom: 20px;
}
.todays-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.currentTemperature {
  color: black;
  font-size: 64px;
  line-height: 1;
}

.outfit {
  text-align: center;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.card-header {
  text-transform: capitalize;
}
#description:first-letter {
  text-transform: capitalize;
}

.card-text {
  font-size: 16px;
  color: #878787;
}
.active:hover {
  text-decoration: none;
}
.weekdays {
  font-family: Oswald;
  font-size: 30px;
  text-align: center;
}
.week-icons {
  text-align: center;
  font-size: 50px;
  color: #2a7ea3;
}
.week-icons p {
  font-size: 15px;
  color: black;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
